body {
  background: #f5f2ee;
  font-family: Arial, sans-serif;
}
.fileGap {
  padding-bottom: 50px;
}

.polaroidWrap {
  position: relative;
  width: 512px;
  margin: 0 auto;
}

.photoWindow {
  position: absolute;
  top: 69px; /* top of white area */
  left: 103px; /* left of white area */
  width: 304px; /* width of white area */
  height: 326px; /* height of white area */
  overflow: hidden;
  z-index: 1;
  /* outline: 2px dashed red; */
}

.photoWindow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.polaroidFrame {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 2;
}

.polaroidMessage {
  margin-top: 12px;
  text-align: center;
  font-size: 14px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 40px;
}
